<%- layout('partials/header.ejs')%>

<div class="container">
    <div class="card">
        <div class="card-body">
            <input hidden id="email" value="<%= user.email %>">
            <input hidden id="password" value="<%= user.password %>">
            <form>
                <div class="row">
                    <div class="form-group col-md-4">
                        <div class="row">
                            <div class=" col-md-8 mr-0">
                                <label for="paridade">Paridade</label>
                                <select id="paridade" name="paridade" class=" form-control form-control-sm">
                                    <option selected>Carregando...</option>
                                </select>
                            </div>
                            <div class="col-md-4 ml-0 mt-4">
                                <button type="button" class="btn btn-sm btn-outline-warning">At</button>
                            </div>
                        </div>
                    </div>


                    <div class="form-group col-md-2 float-left">
                        <label for="inputEstado">Conta</label>
                        <select id="inputEstado" class="form-control form-control-sm">
                            <option selected>Escolher...</option>
                            <option value="PRACTICE">Prática</option>
                            <option value="REAL">Real</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    
                    <div class="form-group col-md-2">
                        <label for="exampleInputPassword1">Valor Entrada</label>
                        <input type="text" class="form-control form-control-sm" id="exampleInputPassword1">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="exampleInputPassword1">Stop Loss</label>
                        <input type="text" class="form-control form-control-sm" id="exampleInputPassword1">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="exampleInputPassword1">Stop Hora</label>
                        <input type="text" class="form-control form-control-sm" id="exampleInputPassword1">
                    </div>
                    <div class="col-ms-3">
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="soros">
                            <label class="form-check-label" for="exampleCheck1">Soros</label>
                        </div>
                        <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="margingale">
                            <label class="form-check-label" for="martingale">Martingale</label>
                        </div>
                    </div>
                </div>
                
                <button id="btn_paridade" type="submit" class="btn btn-sm btn-primary">Entrar</button>

            </form>

        </div>
    </div>
    <div class="row">
        <div class="card col-md-8">

        </div>

        <div class="card shadow col-md-4 mt-2 mb-1 border-0 float-left">
            <div class="card-body">
                <ul class="nav nav-tabs" id="myTab" role="tablist">

                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="mhi-tab" data-toggle="tab" href="#mhi" role="tab"
                            aria-controls="mhi" aria-selected="true">MHI</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                            aria-controls="profile" aria-selected="false">Gedex</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                            aria-controls="contact" aria-selected="false">Contact</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="mhi" role="tabpanel" aria-labelledby="mhi-tab">

                        <table class="table table-sm">
                            <thead class="thead-dark">
                                <tr>
                                    <th style="font-size: 7pt;">Ativo</th>

                                    <th style="font-size: 7pt;">Acertividade</th>
                                </tr>
                            </thead>
                            <tbody id="acertividade">
                                <tr>
                                    <td></td>
                                    <td style="font-size: 7pt;">Carregando...</td>

                                </tr>

                            </tbody>
                        </table>

                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        ...</div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
                </div>

            </div>
        </div>
    </div>

    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th style="font-size: 8;" scope="col">#</th>
                <th style="font-size: 8;" scope="col">Moeda</th>
                <th style="font-size: 8;" scope="col">Gain GX1</th>
                <th style="font-size: 8;" scope="col">Gain GX2</th>
                <th style="font-size: 8;" scope="col">Gain GX3</th>
                <th style="font-size: 8;" scope="col">Gale GX1</th>
                <th style="font-size: 8;" scope="col">Gale GX2</th>
                <th style="font-size: 8;" scope="col">Gale GX3</th>
                <th style="font-size: 8;" scope="col">Hit GX1</th>
                <th style="font-size: 8;" scope="col">Hit GX2</th>
                <th style="font-size: 8;" scope="col">Hit GX3</th>
                <th style="font-size: 8;" scope="col">Porcent</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <th scope="row">1</th>
                <td><%= catalogacaoGx[1] || ''%></td>
                <td><%= catalogacaoGx[2] || ''%></td>
                <td><%= catalogacaoGx[3] || '' %></td>
                <td><%= catalogacaoGx[4] || ''%></td>
                <td><%= catalogacaoGx[5] || ''%></td>
                <td><%= catalogacaoGx[6] || ''%></td>
                <td><%= catalogacaoGx[7] || ''%></td>
                <td><%= catalogacaoGx[8] || ''%></td>
                <td><%= catalogacaoGx[9] || ''%></td>
                <td><%= catalogacaoGx[10] || ''%></td>
                <td></td>
            </tr>

        </tbody>
    </table>
    <div id="setTime"></div>
</div>


<!-- <script>
        $(function() {
            setTime();
            function setTime() {
                var date = new Date().getTime();
                var string = "Timestamp: "+date;
                setTimeout(setTime, 3000);
                $('#setTime').html(string);
            }
 });
       </script> -->


<!--         
<script>
    $('#paridade').click(function () {
                $.ajax({
                    type: "GET",
                    url: "trader/paridade",
                    //data: datos,
                    success: function (data, status, xhr) {
                        console.log(data)
                        console.log(status)
                        console.log(xhr)
                       
                        if (data.status == 'sucesso') {
                            
                           
                        } else {
                            
                        }

                    },
                    error: function (xhr, status, error) {
                        console.log(status)
                        console.log(error)
                        console.log(xhr)
                       
                    }
                });
                return false
            })
</script> -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- WEBSOCKETS -->
<script src="/socket.io/socket.io.js" charset="utf-8"></script>
<script src="socketIO.js" charset="utf-8"></script>


<!-- Bootstrap -->
<!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>


</body>

</html>